{{!-- <div class="container movie-card"> --}}
<div class="row movie-card-row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default plain movie-card-panel">
      <div class="panel-body">
        <div class="col-lg-2 col-md-2 col-sm-12 poster-col" align="center">
          <div class="movie-poster">
            <img class="img-responsive" src="{{movie.notNullPoster}}">
          </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 movie-info">
          <div class="title row">
            {{movie.title}}
          </div>
          <div class="plot row">
            <p>{{movie.cuttedPlot}}</p>
          </div>
          <div class="row movie-additional-info">
            <div class="col-lg-2 nopadding">
              <div class="year">
                <p><label>Year: </label> {{movie.notNullYear}}</p>
              </div>
            </div>
            <div class="col-lg-2 nopadding">
              <div class="imdb">
                <p>
                  <a href="http://www.imdb.com/title/{{movie.id}}">
                    <img class="imdb-logo" src="../images/imdb.png" alt="goto imdb" height="15">
                    <label>
                      {{#if movie.strRating}}
                        {{movie.strRating}}
                      {{else}}
                      {{/if}}
                    </label>
                    ({{movie.voteCnt}})
                  </a>
                </p>
              </div>
            </div>
            <div class="col-lg-2">
              <button {{action "movieInfo" movie}}
                title="Match info"
                type="button" class="btn btn-link movie-info-btn">
                <span class="glyphicon glyphicon-info-sign"></span>
              </button>
            </div>
            <div class="col-lg-6">
              <button {{action "goodMatch" movie}}
                title="Good match!"
                type="button" class="btn btn-link pull-right movie-tumbs-up">
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


