{{#if typosColorQ}}
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-default plain sp-corr-panel">
        <div class="panel-body">
          <p>We found typos in your query: <b><em>{{{typosColorQ}}}</em></b></p>
          {{#if spelledQ}}
            <p>Did you mean: <a {{action "spelledQSearch"}}><b><em>{{{spelledQ}}}</em></b></a></p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{#if filteredModel}}
  {{#each filteredModel as |movieUnit|}}
    {{movie-card movie=movieUnit}}
  {{/each}}
{{else}}
  {{#bs-modal size="sm" open=showMessage title="Info"}}
    Movies not found
  {{/bs-modal}}
  <div class="not-found">
    <!--<h1>Error</h1>-->
    <h2>Movies not found</h2>
  </div>
{{/if}}