{{#if isSearchSubmitted}}
{{!-- Page with results listed, search field is at the top  --}}
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#menu-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		{{ link-to App.appLabel 'application' class="navbar-brand" }}
	</div>
	<div class="collapse navbar-collapse" id="menu-collapse">
		<form class="navbar-form navbar-left navbar-input-group" role="search">
			<div class="form-group">
	        	{{input enter="submit" type="text" class="form-control" placeholder="Movie description to search" value=searchQuery}}
			</div>
			<button {{action "doSearch"}} type="submit" class="btn btn-primary">Search</button>
		</form>
		<!-- The drop down menu -->
        <ul class="nav navbar-nav navbar-left">
        	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"/></a>
			<ul class="dropdown-menu">
				<li>
					 <div class="row">
							<div class="col-md-12">
								 <form class="form">
										<div class="form-group year-group">
											 <label>Years</label>
											 {{range-slider mood='success' 
											                tooltip='always' 
											                tooltipPosition='bottom'
													        min=1885
													        max=2100
													        value=1885
													        step=1 }}
										</div>
										<div class="form-group">
											 <button type="submit" class="btn">apply filters</button>
										</div>
								 </form>
							</div>
					 </div>
				</li>
			</ul>
        </li>
          <li class="divider-vertical"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">About</a></li>
        </ul>
	</div>
	</nav>

	<div class="container search-result-container">
	{{outlet}}
	</div>
{{else}}
{{!-- Main page, opened if no query submitted (like Google!) --}}
<div class="container">
	<div class="raw">
		<div class="col-lg-8 col-lg-offset-2 search-input-raw">
			<div class="text-center app-logo">
				<label>{{ App.appLabel }}</label>
			</div>
	        <div class="input-group">
	        	{{input enter="submit" type="text" class="form-control" placeholder="Movie description to search" value=searchQuery}}
	            <span class="input-group-btn">
		        	<button {{action "doSearch"}} class="btn btn-secondary" type="button">Search</button>
		        </span>
	        </div>
	    </div>

	</div>
</div>
{{/if}}

<div class="container">
	{{!-- Error in case of bad query --}}
	{{#bs-modal size="sm" open=showQueryErrorAlert title="Error"}}
		{{ queryErrorMessage }}
	{{/bs-modal}}
</div>


